@font-face {
  font-family: reckless;
  src: url(./fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
  font-family: figtree;
  src: url(./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
  font-family: midnight;
  src: url(./fonts/midnight-sans-rd-12-medium-trial.otf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #fbf9eb;
  margin: 0;
}

::selection{
  background-color: #FFB500;
  color: white;
}

nav {
    margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffefb;
  font-family: reckless;
  padding: 0.8rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 1rem;
}

nav .nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

nav .nav-left .nav-left-mobile{
    display: none;
}

nav .nav-left h3 {
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}

nav .nav-left h3:nth-child(4) {
  position: relative;
  
}

nav .nav-left h3:nth-child(4) span {
  color: #FFB500;
}

nav .nav-left h3:nth-child(4)::after {
  content: "";
  position: absolute;
  height: 1%;
  width: 0%;
  background-color: black;
  left: 0;
  bottom: -0.2rem;
  transition: all 0.3s ease-in-out;
}

nav .nav-left h3:nth-child(4):hover::after {
  width: 100%;
}


nav .nav-left h3:nth-child(2) span {
  height: 1vw;
  width: 1vw;
  background-color: #1daada3f;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.39);
}

nav .nav-left h3:nth-child(3) span {
  height: 1vw;
  width: 1vw;
  background-color: #1daada3f;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.39);
}

nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}

nav .nav-right .nav-right1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.nav-right .nav-right1 a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 0.4rem;
  position: relative;
}

.nav-right .nav-right1 a::after {
  content: "";
  position: absolute;
  height: 1%;
  width: 0%;
  background-color: black;
  left: 0;
  bottom: -0.2rem;
  transition: all 0.3s ease-in-out;
}

.nav-right .nav-right1 a:hover::after {
  width: 100%;
}

.nav-right .nav-right2 svg {
  width: 3rem;
  transition: all ease 0.2s;
  cursor: pointer;
}

.nav-right .nav-right2 svg:hover{
    scale: 1.2;
}

.nav-right .nav-right2 {
  position: relative;
}

.nav-right .nav-right2 .nav-right-svg-circle {
  position: absolute;
  background-color: #FFB500;
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  top: 0.3rem;
  right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
}


main{
    background-color: #fbf9eb;
    min-height: 100vh;
    width: 100%;

}

.hero{
    background-image: url('https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=1575.0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem 2rem;
    
}

.hero-text{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}


.hero .hero-text h2{
    width: 30vw;
    font-size: 5.5rem;
    font-family: reckless;
    color: white;
    font-weight: 400;
}

.hero .hero-text p{
    width: 35vw;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    font-family: figtree;
}

.hero .hero-text button{
    padding: 0.9rem 3.3rem;
    border: none;
    border-radius: 2rem;
    background-color: #2A2857;
    color: white;
    font-size: 1.1rem;
    width: fit-content; 
    border: 1px solid transparent;
    cursor: pointer;
}

.hero .hero-text button:hover{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid black;
}


.page2{
  width: 100%;
  min-height: 100vh;
  
}

.page2-top{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48vh;
}

.page2-top h2{
  font-size: clamp(2rem, 4vw, 4rem);
  font-family: reckless;
  font-weight: 400;
  width: 60vw;
  text-align: center;
}

.page2-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.page2-btn button{
  display: flex;
  padding: 0.1rem 0.3rem;
  border: none;
  background-color: #DAAEEA;
  font-size: clamp(2rem, 4vw, 3.4rem);
  width: fit-content; 
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: 700;
  font-family: midnight;
  transform: rotate(-2deg);
  border-radius: 0.6rem;

}


.page2-bottom{
  margin: 0rem 2rem;
  display: flex;
  align-items: flex-start;
  /* justify-content: flex-start; */
  gap: 1rem;
  height: 80vh;
  overflow-x: auto;
  overflow-y: hidden;
   scrollbar-width: none; 
  -ms-overflow-style: none;

  scroll-behavior: smooth;
}



.page2-bottom .card{
  height: 70vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;

}

.page2-bottom .card .card-top{
  height: 50vh;
  width: 100%;
  background-color: rgb(193, 238, 145);
  border: 1px solid black;
  border-radius: 1rem;
  position: relative;
}

.card-top .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0.8rem;
}

.card-top .top .top-left{
  padding: 0.2rem 0.5rem;
  font-size: 1.3rem;
  background-color: white;
  font-family: midnight;
  border: 1px solid black;
  border-radius: 0.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card-top .top .top-right{
  font-size: 1rem;
}

.card-top img{
  width: 100%;
  height: 65%;
  object-fit: contain;
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}

.card:hover img{
  transform: scale(1.3);
}


.card-top .bottom{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.4rem; 
  font-family: figtree;
  transition: background-color ease 0.2s;
}

.card-top .bottom:hover{
  background-color: #2A2857;
  color: white;
}


.card .card-bottom{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;  
  font-family: reckless;
  width: 100%;

}

.card .card-bottom h3{
  font-size: clamp(1rem, 2vw, 1.6rem);
  font-weight: 400;
  text-transform: capitalize;
}

.card .card-bottom h5{
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.card .card-bottom p{
  width:100%;
  font-size: clamp(0.6rem, 1.5vw, 0.9rem);
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.card:nth-child(2) .card-top{
  background-color: #FFD884;
}

.card:nth-child(3) .card-top{
  background-color: #B0E8C1;
}

.card:nth-child(4) .card-top{
  background-color: #C1E4F8;
}

.card:nth-child(5) .card-top{
  background-color: #FFCB96;
}

.card:nth-child(6) .card-top{
  background-color: #FFD1B8;
}


